header{
    width: 100%;
    height: 95px;
    margin-top: 5px;
}
.title-content-zst{
    width:1240px ;
    height: 100%;
    margin: auto;
}
.title-header-zst{
    /*background: #5bc0de;*/
    width: 100%;
    height: 31px;

}
.title-header-zst a{
    float: right;
    font-size: 12px;
    color: #627a88;
    line-height:31px;
    margin-right: 5px;
}
.title-main-zst{
    width: 100%;
    height: 64px;
}
.title-name-zst{
    float: left;
    width: 325px;
    height: 50px;
    font-size: 35px;
    letter-spacing:4px;
}
.title-classify-zst{
    float: left;
    width: 120px;
    height: 48px;
    font-size: 22px;
    margin-left: 40px;
    margin-right: 30px;
    margin-top: 10px;

    cursor: pointer;
    color: #0078D2;
}
.title-classify-zst:hover{
    text-decoration:underline;
}
/*主界面*/
.main-zst{
    width: 1240px;
    height: auto;
    margin: auto;
}
.main-title-zst{
    width: 100%;
    height: 22px;
    background: #d9edf785;
    font-size: 14px;
}
.main-title-first-zst{
    width:285px ;
    height: 22px;
    background: #4a6be0ed;
    color: #FFFFFF;
    float: left;

    text-decoration:underline;

}
/*.main-title-zst ul{*/
    /*float: left;*/
/*}*/
.main-title-zst ul li{
    float: left;
    margin-left:5px;
    width: 285px;
    height: 22px;
    color:  #00467f;

}
.main-select-zst{
    width: 1200px;
    height: 74px;
    font-size: 35px;
    line-height: 88px;
    margin-left: 5px;
    color: #0078d2;
}
.main-info-zst{
    width: 885px;
    height: 38px;
}
.info-depart-zst{
    width: 60px;
    height: 36px;
    color: #008712;
    margin-left: 5px;
    margin-right: 10px;
    font-size: 28px;
}
.info-place-zst{
    width: 300px;
    height: 36px;
    font-size: 24px;
    font-style: normal;
    color: #00467f;
}
.info-arrive-zst{
    width: 30px;
    height: 36px;
    color: #00467f;
    font-size: 28px;
    margin: 0 5px;
}
.main-date-zst{
    width: 885px;
    height: 30px;
    color: #627A88;
    font-size:24px ;
    margin-left: 5px;
    font-style: normal;
}
.main-list-zst{
    width: 885px;
    height: auto;
    min-height: 400px;
    /*background: #5bc0de;*/
    margin-top: 20px;
}
.main-list-title-zst{
    width: 100%;
    height: 44px;
    border-bottom:1px solid #99CCFF ;
}
.main-list-title-zst span{
    float: left;
    width: 212px;
    height: 34px;
    border: 1px solid #1a21296e;
    line-height: 34px;
    text-align: center;
    margin-top: 4px;
}
.main-list-title-zst ul{
    margin-left: 161px;
    float: left;
}
.main-list-title-zst li{
    float: left;
    width: 168px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    color: #ffffff;
    background: #0D8BBD;
    margin-right: 2px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

/*底部*/
.end-zst{
    width: 100%;
    height: 442px;
    margin-top: 50px;
    background: #d0dae0;
}
.end-content-zst{
    width: 1240px;
    height: 370px;
    margin:auto ;
    padding-top: 40px;
}
.end-content-first-zst{
    float: left;
    width: 283px;
    height: 291px;
    margin-left: 30px;

}
.end-content-first-zst span{
    width: 100%;
    height: 31px;
    font-size: 20px;
    color:  #36495a;
}
.content-border-zst{
    margin: 10px 0;
    width: 260px;
    height: 2px;
    background: #0d33496e;
}
.end-content-first-zst ul{
    margin-top: 20px;
    width: 100%;
    height: 207px;
}
.end-content-first-zst ul li{
    width: 100%;
    height: 25px;

}
.end-content-first-zst ul li a{
    width: 100%;
    height: 100%;
    float: left;
    margin-bottom: 5px;
    font-size: 13px;
    color: #36495a;
}
.end-content-first-zst ul li a:hover{
    color: #0D3349;
}
.bottom-border-zst{
    width: 100%;
    height: 2px;
    background:#0d33496e ;
    float: left;
    margin-top: 20px;
}
.planeinfo{
	float:left;
	margin-top:10px;
	width:885px;
	height:300px;
	border-bottom:1px solid gray;
}
.info-left-hxt{
	float:left;
	height:100%;
	width:300px;
	
}
.info-right-hxt{
	margin-top:40px;
	margin-left:20px;
	float:left;
	height:200px;
	width:150px;
	border:1px solid #2B5CBD;
}
.priceSpan-hxt{
	font-size:35px;
	color:#00467F;
}
.hidden-c-hxt{

	margin-top；5px;
	width:885px;
	height:300px;
	
	
}
.hidden-c-l{
	float:left;
	height:100%;
	width:400px;
	margin-left:5px;
	background-color:#2B5CBD;
}
.hidden-c-r{
	float:left;
	height:100%;
	width:400px;
	margin-left:10px;
	background-color:#00467F;

	
}
.l-1{
	margin-top:10px;
	margin-left:10px;
	color:white;
	font-size:20px;
	width:100%;
	height:50px;

}
.l-2{
	color:white;
}
.a{
	margin-top:20px;
	margin-left:10px;
}
.r-1{
	margin-top:10px;
	margin-left:10px;
	color:white;
	font-size:20px;
	width:100%;
	height:50px;

}
.r-2{
	color:white;
}
.b{
	margin-top:20px;
	margin-left:10px;
}
.b-span{
	font-size:10px;
}
.b-1{
	margin-top:0;
}
.continue{
	float:right;
	width:150px;
	height:50px;
	
	background-color:#2B5CBD;
	color:white;
}
img{
	float:left;
	height:60px;
	width:60px;
	margin-top:2px
}
.title-hxt{
  cursor: pointer;

}
.hxt-1{
	margin-left:20px;
}
.hxt-s{
	float:left;
	font-size:30px;
	color:gray;
	margin-left:20px;
	margin-top:20px
}
.in-right-hxt{
	margin-left:20px;
}
.hxt-ss{
	float:left;
	margin-left:20px;
	margin-top:20px
	
}
.hxt-s-1{
	float:left;
	margin-left:40px;
	font-size:20px;
	color:#2B5CBD;
	margin-top:70px;
}
.contain-h{
	width:1100px;
	border:1px solid black;
	
}
.people-info{
	float:left;
	width:100px;
	height:100px;
	border:1px solid black;
}
.show-info-h{
	color:white;
    margin-top:10px;
	height:200px;
	width:200px;
	margin-left:5px;
	background-color:#2B5CBD;
	display:none;

}